* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F0EDEE;
  font-family: 'Nunito', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.left-player-1-container, .right-player-2-container {
  background-color: #2A2E45;
  color: #F0EDEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 25%;
}

h2, h3, h4 {
  padding: 25px;
}

.change-game-button {
  background-color: #F0EDEE;
  color: #2A2E45
  border: 0;
  padding: 10px;
  margin-top: 250px;
  cursor: pointer;
}

.change-game-button:hover {
  opacity: 0.9;
}

.game-board-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  margin-top: 50px;
}

.change-text {
  font-size: 25px;
  margin-top: 25px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.choose-game-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classic-game, .hard-game {
  background-color: #2A2E45;
  color: #F0EDEE;
  border: 0;
  border-radius: 5px;
  margin-top: 50px;
  padding: 25px 25px 25px 25px;
  cursor: pointer;
}

.classic-game:hover, .hard-game:hover {
  opacity: 0.9;
}

.game-title {
  font-size: 25px;
}

.players-list {
  font-size: 15px;
}

.choose-weapon-classic-view,
.choose-weapon-hard-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.weapon-button {
  height: 75px;
  width: 75px;
  border: 0;
  padding: 0;
  margin: 25px;
  cursor: pointer;
}

.image {
  height: 100%;
  width: 100%;
}

.results-view {
  display: flex;
  justify-content: center;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.human-choice-image,
.computer-choice-image {
  height: 75px;
  width: 75px;
  border: 0;
  padding: 0;
  margin: 25px;
}

.hidden {
  display: none;
}
